@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{     
    ViewData["Homepage"] = "Colton Pearce";
}
<h1>@ViewData["Homepage"]</h1>
<img src="img/Biking.jpeg" width="400" height="400" />
b
<h2>Hopes for IS413</h2>
<p>
    I didn't really come into this class with a whole lot of expectations.
    I would like to get better at programming and development,
    because I find satisfaction in seeing something
    I built and being able to interact with it. I am excited to add another skill to my tool belt
    to give myself a better chance at being successful in whatever career path I choose.
</p>

<h2>Career Paths</h2>
<ul>
    <li>1. Product Manager</li>
    <li>2. Project Manager</li>
    <li>3. Data Engineer</li>
</ul>

